body {
	background-image: url('../images/bgtile.png');
	background-repeat: repeat-x;
	width: 100%;
}

.leftDiv {
  position: absolute;
	float: left;
	right: 57%;
	width: 25%;
	max-width: 500px;
	height: 530px;
	margin: 75px 0 20px 12em;
}

.rightDiv {
  position: absolute;
	float: right;
	left: 47%;
	height: 530px;
	width: 45%;
	margin: 75px 10em 20px 0;
	display: inline-block;
}

.titleAndButton {
	display: inline-block;
	height: 80px;
	margin-top: 30px;
	text-align: center;
  width: 400px;

}

button {
	background-image: url('../images/home.png');
	background-repeat: no-repeat;
	background-position: left;
	background-color: rgb(101,131,162);
  color: white;
  height: 35px;
  width: 90px;
  float: right;
  margin-top: 15px;
  border-color: rgb(69,102,136);
  border-style: solid 2px;
  border-radius: 5px;
}


.phoneImages {
/*	margin: 75px 10px 20px 75px;
	display: inline-block;
	float: left;*/
}

.paragraphBlock {
	width: 400px;
  height: 400px;
  box-shadow: 0 -6px 12px -3px black;
  margin-top: -35px;
  background-color: white;
}

.paragraphBlock p {
	padding-left: 5px;
}

.paragraphBlock h1 {
	margin: 0 auto 0 -10px;

}

#firstHeadline {
	margin-top: 10px;
}

#instagramLogo {
	width: 260px;
  float: left;
}

.appStoreImages {

}
.headline {
	color: rgb(21,48,83);
	margin: 40px 0 0 20px;
}

footer {
  margin: 600px auto
	text-align: center;

}
footer li {
	display: inline;
	color: rgb(175,175,175);
}

footer li a{
	display: inline;
	text-decoration: none;
	font-size: 10px;
	margin: 0 10px;
	color: rgb(101,131,162);
}

#copyright {
	font-size: 10px;

}
