
/*sets background image*/
body {
	background-image: url('../images/bgtile.png');
	background-repeat: repeat-x;
	width: 100%;
}

/*creates left portion and assignes values*/
.leftDiv {
  position: absolute;
	float: left;
	right: 47%;
	width: 530px;
	max-width: 500px;
	height: 530px;
  width: 530px;
	margin: 75px 0 20px 12em;
}

/*creates right portion and assigns values*/
.rightDiv {
  position: absolute;
	float: right;
	left: 47%;
	height: 530px;
	width: 530px;
	margin: 75px 10em 20px 0;
	display: inline-block;
}

/*aligns title and button section*/
.titleAndButton {
	display: inline-block;
	height: 80px;
	margin-top: 30px;
	text-align: center;
  width: 400px;
}

/*styles the login button*/
button {
	background-image: url('../images/home.png');
	background-repeat: no-repeat;
	background-position: left;
	background-color: rgb(101,131,162);
  color: white;
  height: 35px;
  width: 90px;
  float: right;
  margin-top: 15px;
  border-color: rgb(69,102,136);
  border-style: solid 2px;
  border-radius: 5px;
}

/*styles the section with the paragraphs and adds drop shadow effect*/
.paragraphBlock {
	width: 400px;
  height: 400px;
  box-shadow: 0 -6px 12px -3px black;
  margin-top: -35px;
  background-color: white;
}

/*aligns paragraph elements*/
.paragraphBlock p {
	padding-left: 5px;
}

/*aligns headline elements in paragraph block*/
.paragraphBlock h1 {
	margin: 0 auto 0 -10px;

}

/*moves the headline down*/
#firstHeadline {
	margin-top: 10px;
}

/*sets position and size of logo*/
#instagramLogo {
	width: 260px;
  float: left;
}

/*moves images down*/
.appStoreImages {
  margin-top: -5px;
}

/*sets height of paragraph elements*/
.paragraphs {
  height: 240px;
}

/*sets margin of paragraph elements*/
.paragraphs p {
  margin: 30px 0 30px 0;
}

/*moves and colors headline class*/
.headline {
	color: rgb(21,48,83);
	margin: 40px 0 0 20px;
}

/*centers content in footer*/
footer {
  text.align: center;
}

/*positions links in footer*/
.links {
  position: absolute;
  margin-top: 600px;
  text-align: center;
  margin-left: 430px;
}

/*makes list items display inline and colors them*/
footer li {
	display: inline;
  text-align: center;
	color: rgb(175,175,175);
}

/*displays link in footer inline with other elements*/
footer li a{
	display: inline;
	text-decoration: none;
	font-size: 10px;
	margin: 0 10px;
	color: rgb(101,131,162);
}

/*sets size of copyright info*/
#copyright {
	font-size: 10px;

}
